<!DOCTYPE html/>
<html>
<head>
<title>Домашнее задание</title>
<meta charset="utf-8"/>
</head>
<body>
<style>
.phpinfo
{
	width: 800px;
	height: 400px;
	border: 2px solid red;
	overflow: scroll;
	margin: 10px auto 0 auto;
}

.myinfo
{
	margin: 20px auto 20px auto;
	width: 300px;
}

.myinfo table,.myinfo td
{
	font-size: 16px;
	padding: 5px;
	border: 2px solid #00f;
}

.myinfo th
{
	font-size: 16px;
	padding: 5px;
	border: 2px solid #00f;
	background-color: #ff0;
}

.myinfo tr:hover
{
	font-size: 16px;
	padding: 5px;
	border: 2px solid #00f;
	background-color: #555;
}

.time
{
	width: 300px;
	border: 2px solid #f00;
	font-size: 20px;
	color: #f70;
	margin: 20px auto 0 auto;
	padding: 5px;
	text-align: center;
}

</style>

<div class="myinfo">
<h3>Личные данные</h3>
<table>
<th>Имя</th>
<th>Фамилия</th>
<th>Возраст</th>
<th>Оклад</th>

{% for user in userData %}
<tr>
	<td><a title="Удалить" href="/del_user?id={{user.id}}">{{user.name}}</a></td>
	<td>{{user.lastname}}</td>
	<td>{{user.age}}</td>
	<td>{{user.salary}}</td>
	
</tr>

{% endfor %}

</table>
</div>
<h3>Добавить сотрудника</h3>
<form method="post" action="/add_user">
	<input type="text" placeholder="name" name="name"/><br/>
	<input type="text" placeholder="lastname" name="lastname"/><br/>
	<input type="text" placeholder="age" name="age"/><br/>
	<input type="text" placeholder="salary" name="salary"/>
	<button>Ок</button>
</form>


<h3>Книги</h3>
<table>
<th>Название</th>
<th>Автор</th>
<th>Выдана</th>

{% for book in books %}
<tr>
	<td><a title="Удалить" href="/del_book?id={{book.id}}">{{book.title}}</a></td>
	<td>{{book.author}}</td>
	<td>{{book.userId.name}} {{book.userId.lastname}}</td>
	
</tr>

{% endfor %}

</table>


<div id="time">0000/00/00 00:00:00</div>

</body>

<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
function getTime()
{
	$('#time').load("/gettime");
}

setInterval( getTime, 1000 );
</script>

</html>



